{% extends 'page_template.html' %}
{% block title %}Page create{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/page.js') }}"></script>
{% endblock %}
{% block mainContent %}
<div class="row justify-content-md-center">
    <div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/page/{{page.id}}">Page: {{page.id}}</a></li>
        </ol>
      </nav>
    </div>
    <div class="col"></div>

    <div class="col-6">
        {% if page == None %}
          {% with status="error", status_message="Page With Id " + id + " not found", is_visible=True %}
            {% include "common/status_messages.html" %}
          {% endwith %}
        {% else %}
      <form id="page_form" method="POST">
        <div class="mb-3">
          <input type="hidden" value="{{page.id}}" id="page_id">
          <h3 class="text-center mb-3">Update Page</h3>
          <label for="exampleFormControlInput1" class="form-label">Page Name</label>
          <input type="text" class="form-control" id="pagename" placeholder="Type page name" value="{{page.name}}"><span
            id="pname_feedback" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <div class="form-check">
            {% if page.is_active == true %}
            <input class="form-check-input" type="checkbox" value="true" id="activate" checked>
            {% else %}
            <input class="form-check-input" type="checkbox" value="true" id="activate">
            {% endif %}
            <label class="form-check-label" for="flexCheckDefault">
              Activate
            </label>
          </div>
        </div>

        <div id="error_feedback" class="mb-3" class="text-danger"></div>
        <button type="button" class="btn btn-primary" onclick="update_page()">Update</button>
        <a href="/page/{{page.id}}"><button type="button" class="btn btn-light">Cancle</button></a>
      </form>
      {% with status="success" %}
        {% include "common/status_messages.html" %}
        <div id="return" class="d-none text-center">
          <a href="/page/{{page.id}}"><button class="btn btn-primary">Return to page</button></a>
        </div>
      {% endwith %}
      {% endif %}
    </div>
    <div class="col"></div>
</div>
{% endblock %}